#footer {
  padding-bottom: 60px;
  margin-top: 30px;

  ul,
  li {
    display: inline-block;
    margin: 0;
  }

  li:not(:first-child):before {
    content: '\00b7';
    padding: 0 5px;
  }

  li:last-child {
    margin-right: 15px;
  }

  :global(.s12) {
    margin-bottom: 5px;
  }

  :global(.col) {
    padding: 0;
  }

  :global(.row) {
    padding: 0 15px 0 30px;
  }
}
