#grid {
  padding: 0 4vw;

  :global(.col) {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
  }
  :global(#cardPanel) {
    @media (min-width: 900px) {
      margin-top: -70px;
    }
    margin: 0 -0.95rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
