#readingNav {
  margin-top: 30px;
  text-align: center;
  :global(.arrowHeading) {
    display: flex;
    :global(.arrowTitle) {
      color: #00000050;
      background-color: #fff;
      font-size: 1.5rem;
      display: inline-flex;
      margin: 0 auto -1rem auto;
      padding: 0 5px;
    }
  }
  :global(.arrowContainer) {
    padding-top: 10px;
    border-top: 1px solid #00000025;
    margin: 0 20px;
  }
}

.arrowButton {
  display: flex;
  align-items: center;
  margin: 10px 0;
  &:global(.right) {
    flex-direction: row-reverse;
  }
  span {
    display: inline-flex;
    align-self: center;
  }

  :global(.button-text) {
    font-size: 1.25rem;
  }

  :global(.chevron) {
    display: inline-flex;
    border-right: 3px solid #00000090;
    border-bottom: 3px solid #00000090;
    width: 20px;
    height: 20px;
    &:global(.left-arrow) {
      transform: rotate(-225deg);
      &:not(:first-child) {
        width: 15px;
        height: 15px;
        border-color: #00000075;
        margin-left: -13px;
      }
    }
    &:global(.right-arrow) {
      transform: rotate(-45deg);
      &:nth-child(2) {
        width: 15px;
        height: 15px;
        border-color: #00000075;
        margin-right: -13px;
      }
    }
  }
}
